.monthly-calendar {
  font-family: Arial, sans-serif;
  width: 700px;
  margin: 0 auto;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekdays,
.week {
  display: grid;
  grid-template-columns: repeat(7, 100px);
}

.workout-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.workout-table th,
.workout-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.workout-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

.workout-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.workout-table tr:hover {
  background-color: #e6f7ff;
  transition: background-color 0.2s ease-in-out;
}

/* Custom styling to ensure navbar items are displayed horizontally */
.navbar-nav {
  display: flex;
  flex-direction: row; /* Ensure the links are in a row */
  justify-content: space-around; /* Distribute the items evenly */
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
